.container {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: show 0.5s forwards;
}
.close {
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.3rem;
}
.chart {
  width: 60%;
  padding: 15px;
  border: 1px solid #3d3d3d;
  border-radius: 15px;
  background-color: #161616d1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.graph {
  width: 100%;
  /* height: 400px; */
}
.name {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}
.name img {
  width: 30px;
  height: 30px;
}
.name p {
  margin-left: 15px;
  font-size: 1.5rem;
}
.types {
  width: 90%;
  margin-top: 30px;
}
.types button {
  margin: 10px 20px;
  background-color: #18181cdb;
  border: 1px solid #0066ff;
  color: #0066ff;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.types .selected {
  background-color: #0066ff;
  color: #fff;
}
.details {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 0;
}
.details div {
  display: flex;
  font-size: 1.1rem;
}
.details p {
  margin-right: 7px;
  color: #0066ff;
  font-weight: 700;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
