.container {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: show 0.5s forwards;
}
.container button {
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.3rem;
}
.chart {
  width: 60%;
  padding: 10px;
  border: 1px solid #3d3d3d;
  border-radius: 15px;
  background-color: #161616d1;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
