.container {
  width: 350px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.container select {
  width: 30%;
  height: 100%;
  border-radius: 5px;
  background-color: #1c1c1c;
  border: 1px solid #2e78f9;
  outline: none;
}
.container input {
  width: 65%;
  background-color: #1c1c1c;
  outline: none;
  height: 100%;
  border-radius: 5px;
  padding: 0 8px;
  border: 1px solid #2e78f9;
}
.list {
  top: 35px;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  position: absolute;
  background-color: #1c1c1c;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 15px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 0px;
}
.list ul {
  height: 100%;
}
.list ul li {
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 40px;
  border-bottom: 1px solid #000;
  cursor: pointer;
  margin-bottom: 5px;
}
.list ul li p {
  margin-left: 6px;
}
.listOff {
  display: none;
}
