.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0 50px;
}
.table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.table thead {
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
}
.table th {
  font-weight: 600;
  font-size: 0.6rem;
  text-align: left;
  padding: 10px 0;
}

@media (min-width: 650px) {
  .container {
    width: 80%;
  }
  .table th {
    font-size: 1.2rem;
  }
}
