.container {
  padding: 5px;
  border-radius: 15px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
