header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0066ff;
  padding: 10px 20px;
  /* margin-bottom: 150px; */
  margin: 25px 20px;
  border-radius: 10px;
}
footer {
  text-align: center;
  background-color: #0066ff;
  padding: 20px;
  margin: 25px 20px;
  border-radius: 10px;
}
